<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="bishnu/normal/index::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>services</title>
</head>
<body>
    <section>
    <div class="container">
            <div class="card">
             <div class="card-body text-center">
            <h1 class="font-weight-bold">Choose a card</h1>
            <p>目指すべき所に近道を存在しない</p>
            <br>
            <button class="btn bg-primary btn-lg text-white">Get Start</button>
            </div>
            </div>
            </div>
            <br><br><br>
             <br><br><br>
            <script>
$(document).ready(()=>{
    $(".item").removeClass("item");
    $("#userHome-link").addClass("item");
});
</script>
        
    </section>
</body>
</html>