<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="index::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>services</title>
</head>
<body>
	<section>



		<div class="container">
			<div class="card">
				<div class="card-body">
					<div id="login-row"
						class="row justify-content-center align-items-center">

						<div id="login-column" class="col-md-6"
							style="background-color: yellow; height: auto;">
							<!-- email -->

							<h1 class="text-center m-3">Creat New password</h1>

							<form th:action="@{/bishnu/changePassword}" method="post"
								th:object="${changePassword}" id="login-form">

								<div class="form-group">
									<label for="newPassword_field">Password: <span
										class="span1">必須</span></label>
									<div class="form-group mt-2"
										th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error'">
										<input type="password" class="form-control" name="newPassword"
											id="newPassword_field"
											th:value="${changePassword.newPassword}"
											th:field="*{newPassword}"
											placeholder="Enter a new password..."> <span
											class="text-danger"
											th:if="${#fields.hasErrors('newPassword')}"
											th:errors="*{newPassword}"></span>
									</div>
								</div>
								<div class="form-group mt-2">
									<label for="reNewPassword_field">Re-Password: <span
										class="span1">必須</span></label>
									<div class="form-group mt-2"
										th:classappend="${#fields.hasErrors('reNewPassword')} ? 'has-error'">
										<input type="password" class="form-control" name="reNewPassword"
											id="reNewPassword_field"
											th:value="${changePassword.reNewPassword}"
											th:field="*{reNewPassword}"
											placeholder="Enter a new password..."> <span
											class="text-danger"
											th:if="${#fields.hasErrors('reNewPassword')}"
											th:errors="*{reNewPassword}"></span>
									</div>
								</div>
								<br>
								<div class="container text-center">

									<button id="submitButton" class="btn btn-primary" disabled>Save Password</button>
								</div>
								<br><br>

							</form>


						</div>
					</div>
				</div>
			</div>
		</div>


		<br> <br> <br> <br> <br> <br>


		<script>
$(document).ready(()=>{
    $(".item").removeClass("item");
    $("#loginby-link").addClass("item");
});
// submit button is disabled when input field is null
const form = document.getElementById("login-form");
const inputFields = document.querySelectorAll("#login-form input");
const submitButton = document.getElementById("submitButton");
function checkInputFields() {
      for (let i = 0; i < inputFields.length; i++) {
        if (inputFields[i].value.trim() === "") {
          submitButton.disabled = true;
          return;
        }
      }
      submitButton.disabled = false;
    }

    inputFields.forEach((inputField) => {
      inputField.addEventListener("input", checkInputFields);
    });
</script>


	</section>



</body>
</html>