<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="index::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>services</title>
</head>
<body>
<section>
        
    
        
        <div class="container">
        <div class="card">
        <div class="card-body">
            <div id="login-row" class="row justify-content-center align-items-center">
            
                <div id="login-column" class="col-md-6" style="background-color: yellow; height: 300px;">
                      

                        <form id="login-form" class="form" th:action="@{/bishnu/verify-otp}" method="post">
                     
                         <div class="form-group mt-5">
                          
                                <input required="required" name="otpNumber" type="text" inputmode="numeric" placeholder="enter your otp number..." class="form-control">
                            </div>
                        <br>
                        <div class="container text-center">
                        
                        <button id="submitButton" class="btn btn-success" disabled>Verify OTP</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            </div>

           
                            <br> <br> <br>
                            <br> <br> <br>
                           

<script>
$(document).ready(()=>{
    $(".item").removeClass("item");
    $("#loginby-link").addClass("item");
});
//submit button is disabled when input field is null
const form = document.getElementById("login-form");
const inputFields = document.querySelectorAll("#login-form input");
const submitButton = document.getElementById("submitButton");
function checkInputFields() {
      for (let i = 0; i < inputFields.length; i++) {
        if (inputFields[i].value.trim() === "") {
          submitButton.disabled = true;
          return;
        }
      }
      submitButton.disabled = false;
    }

    inputFields.forEach((inputField) => {
      inputField.addEventListener("input", checkInputFields);
    });
</script>


</section>



</body>
</html>