<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.bishnu.mapper.SaleMapper">
     
  <select id="totalSale" resultType="com.example.demo.bishnu.dto.SaleDto">

SELECT sale_entity.sale_id, sale_entity.sale_date, sale_entity.sale_name, sale_entity.product_category, sale_entity.sale_price, sale_entity.product_id,
  sale_entity.user_id, product_entity.product_image
FROM sale_entity JOIN product_entity ON sale_entity.product_id = product_entity.id 
WHERE sale_entity.sale_date LIKE CONCAT(#{sale_date}, '%')

 </select>
 
   <select id="countAddCart" resultType="int">
  select count(user_id) from order_list where user_id=#{user_id}
  </select>
  
  <select id="saleCountByProductId" resultType="com.example.demo.bishnu.dto.SaleDto">
    SELECT sale_name, COUNT(product_id) AS sale_quantity
  FROM sale_entity GROUP BY sale_name
  </select>
  
  <!-- Search system -->
  <!-- Search by saleId -->
  <select id="saleSearchBySaleId" resultType="com.example.demo.bishnu.dto.SaleDto">
    SELECT * FROM sale_entity where
     sale_id LIKE CONCAT('%',#{query}, '%')
  </select>
  
  <!-- Search by sale name -->
  <select id="saleSearchBySaleName" resultType="com.example.demo.bishnu.dto.SaleDto">
    SELECT * FROM sale_entity where
     sale_name LIKE CONCAT('%',#{query}, '%')
  </select>
  
  <!-- Search by product brand -->
  <select id="saleSearchByProductBrand" resultType="com.example.demo.bishnu.dto.SaleDto">
    SELECT * FROM sale_entity where
     product_brand LIKE CONCAT('%',#{query}, '%')
  </select>
  
  <!-- Search by sale Date -->
  <select id="saleSearchBySaleDate" resultType="com.example.demo.bishnu.dto.SaleDto">
    SELECT * FROM sale_entity where
     sale_date LIKE CONCAT('%',#{query}, '%')
  </select>
  
  <!-- Search by product category -->
  <select id="saleSearchByProductCategory" resultType="com.example.demo.bishnu.dto.SaleDto">
    SELECT * FROM sale_entity where
     product_category LIKE CONCAT('%',#{query}, '%')
  </select>
  
  <!-- Common Search  -->
  <select id="saleCommonSearch" resultType="com.example.demo.bishnu.dto.SaleDto">
    SELECT * FROM sale_entity where
     sale_id LIKE CONCAT('%',#{query}, '%') OR
     sale_name LIKE CONCAT('%',#{query}, '%') OR
     product_brand LIKE CONCAT('%',#{query}, '%') OR
     product_category LIKE CONCAT('%',#{query}, '%') OR
     sale_date LIKE CONCAT('%',#{query}, '%')
  </select>

    
  </mapper>